<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bank of Jenkins</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

        <script type="text/javascript" th:inline="javascript">
            $(document).ready(function() {
                var apiProto = /*[[${apiProto}]]*/;
                var apiHost = /*[[${apiHost}]]*/;
                var apiPort = /*[[${apiPort}]]*/;
                $.ajax({
                    url:  apiProto + "://" + apiHost + ":" + apiPort + "/account/deposit",
                    dataType: "json"
                }).then(function(data) {
                   $('.accountNumber').append(data.accountNumber);
                   $('.balance').append(data.balance);
                   $('.version').append(data.version);
                });
            });
        </script>
    </head>

    <body>
        <div data-role="page" data-theme="a">

            <div data-role="header" data-theme="b">
                <h1>Bank of Jenkins</h1>
            </div><!-- /header -->

            <div data-role="content">   
                <h2>Mobile Deposit</h2> 
                <p class="accountNumber">Account Number: </p>
                <p class="balance">Current Balance: </p>
                <form>
                    <label for="slider-s">Deposit Amount:</label>
                    <input type="range" name="slider-s" id="slider-s" value="0" min="0" max="10" step="0.01" data-highlight="true" />
                </form>
                
                <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-plus">Deposit</button>
            </div><!-- /content -->

            <div data-role="footer">
                <span class="version">Version: </span>
            </div><!-- /header -->

        </div><!-- /page -->
    </body>
</html>